@page "/fetchdata"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using DevReach.Shared
@attribute [Authorize]
@inject HttpClient Http
@inject GigService gigService

<h1>Gigs</h1>

<Virtualize Items="gigService.Gigs" Context="gig">
    <p>@gig.Location</p>
</Virtualize>

@code {
    

    protected override async Task OnInitializedAsync()
    {
       
    }

}
